body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}

.body {
  margin: 15px;
  font-family: Rubik
}

h1,
h2,
h3 {
  color: #f0582a;
}

button {
  margin: 5px;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
}

nav li {
  float: left;  
  text-decoration: none;
}

nav li a {
  display: block;
  color: #1E1E1E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Rubik;
  letter-spacing: 2px;
}

nav li a:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
}
nav button {
  margin-top: 13px;
}

.logo{
  float: left; /*Floats right or left relative to the parent which is nav*/
}

div.metaLinks>ul>li{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
}

div.antd-modal{
  width: 800px!important
}

.welcome-header{
  font-family: Rubik;
  letter-spacing: 2px;
  font-weight: 200;
}

a.footer-link{
  text-transform: "uppercase";
  padding: 15;
  color: #1E1E1E;
  font-family: 'Rubik';
  letter-spacing:2;
}

/* Used to force color in tab view */
.ant-tabs-nav .ant-tabs-tab-active {
  color: #1E1E1E!important;
  font-weight: 100!important;
}

/* Used to force modal wider */
.ant-modal{
  width: 800px!important
}